body{
    background: #eee;
    height: 100%;
    margin: 25px;
    padding-left: 300px;
}

table,th,td{
    border: 1px solid rgb(5, 30, 59);
}
tr:hover{
    background: rgb(206, 206, 148);
}
th{
    background-color: #1e1f1e;
    color: white;
}
button{
    border-radius: 12px;
    color: rgb(0, 0, 0);
    background-color: #8a89d3;
    cursor: pointer;
}